/* Bootstrap wants this */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  background-color: #222;
  color: #bbb;
  font-family: arial;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
a {
  color: #ccc;
  text-decoration: none;
  font-weight: bold;
}
.entry {
  width: 200px;
  height: 200px;
  margin: 5px;
  float: left;
  overflow: hidden;
  background-color: #333;
}
#proxy_holder {
  background-color: #555;
  padding: 0px;
}
.proxy {
  height: 700px;
  margin-top: 5px;
  margin-bottom: 3px;
  margin-left: 6px;
  margin-right: 5px;
}

.thumb {
  height: 200px;
  width: 200px;
}

.thumbcell {
  vertical-align: top;
  border-right: 3px solid #aaa;
}

#entry_holder {
  background-color: #888;
  overflow-x: scroll;
}
.deleted {
  filter: opacity(20%);
}
.hidden {
  filter: blur(4px);
}
.selected {
  border: 3px solid white;
  width: 194px;
  height: 194px;
}
#menu {
  color: #999;
  height: 32px;
  width: 32px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
}
.button {
  width: 32px;
  height: 32px;
}
.title {
  font-weight: bold;
  font-size: 16px;
  top: 0px;
  left: 0px;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 5px;
  width: 100%;
}
.toolbox {
    position: absolute;
    top: 40px;
    left: 5px;
    max-height: 480px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px;
}
.tags {
    width: 300px;
    padding: 10px;
}
.metadata {
    width: 500px;
}
.query {
    position: absolute;
    width: 300px;
}
.query_part {
    margin-bottom: 10px;
}
.tag_no {
    filter: opacity(20%);
}
.tag_yes {
    filter: opacity(100%);
}
.tag {
    padding: 2px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;
    float: left;
    cursor: pointer;
}
.for_query {
    float: none;
}
.black {
    background-color: black;
    color: white;
}
.blue {
    background-color: white;
    color: blue;
}
.form {
    position: absolute;
    left: 10px;
    top: 130px;
}
.created_collection {
    position: absolute;
    left: 10px;
    top: 70px;
    padding: 10px;
    background-color: #385;
    color: white:
    font-weight: bold;
}

p {
    margin: 5px;
}

input {
    background-color: black;
    color: #aaa;
    border: 1px solid #555;
}

.warning {
  font-weight: bold;
  color: red;
}
.info {
  color: lightblue;
}
.yes {
  font-weight: bold;
  color: lightgreen;
}
.no {
  font-weight: bold;
  color: grey;
}

.done {
    font-weight: bold;
    color: skyblue;
    text-transform: uppercase;
}

.keep {
    font-weight: bold;
    color: skyblue;
    text-transform: uppercase;
}

.failed {
    font-weight: bold;
    color: red;
    text-transform: uppercase;
}

.active {
    font-weight: bold;
    color: green;
    text-transform: uppercase;
}

.new {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

th {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}

div.max200 {
    width: 200px;
    overflow-x: hidden;
}

.number {
    text-align: right;
}
